body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  width: 100%;
}

/* Navbar Styles */
.nav-item {
  margin: 0 10px;
}

.nav-link {
  position: relative;
  color: #2E2E2E !important;
  text-decoration: none;
  display: inline-block;
}

.nav-link:hover {
  color: #d00404 !important;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #d00404 !important;
  transition: width 0.4s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-button {
  width: 100px;
  /* height: 40px; */
  color: #FFFFFF;
  background-color: #585858;
}

/* Banner Styles */
.banner-container {
  width: 100%;
  height: 90vh;
}

.banner-background {
  width: 100%;
  height: 100%;
  background: url("/public/images/Banner-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner-heading {
  width: 100%;
  text-align: center;
  color: #F0F0F0;
  margin-top: 50px;
  font-size: 3rem;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  */
  letter-spacing: 1px;
}

.banner-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
  margin-right: 180px;
}

.btn-book-ride {
  background-color: transparent !important;
  color: #323232 !important;
  border: 2px solid #323232 !important;
}

.btn-book-ride:hover {
  background-color: #323232 !important;
  color: #FFFFFF !important;
}

.btn-reserve-now {
  background-color: #323232 !important;
  color: #FFFFFF !important;
  border: 2px solid #323232 !important;
}

.btn-reserve-now:hover {
  background-color: transparent !important;
  color: #323232 !important;
  border: 2px solid #323232 !important;
}

.cybertruck-banner {
  width: 100%;
  height: 90vh;
  background: url("/public/images/cybertruckbanner.png") no-repeat center center/cover;
}

.cybertruck-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 30px 0;
}

.cybertruck-container button {
  width: 150px;
  margin: 0 10px;
  padding: 10px;
  background: linear-gradient(to right, #5B6C77 0%, #1F3445 70%, #1F3445 85%);

}

.cybertruck-container button:hover {
  background: linear-gradient(to right, #1F3445 0%, #5B6C77 100%);
}



.tesla-banner {
  width: 100%;
  height: 90vh;
  background: url("/public/images/section-2-img.png") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: white;
  padding-bottom: 30px;
  position: relative;
}

.heading-container {
  position: absolute;
  right: 15%;
  bottom: 20%;
  margin-bottom: 10px;
}


.heading-highlight {
  background-color: #7B0505;
  padding: 0 15px;
}

.subheading {
  font-size: 25px;
  font-weight: lighter;
  font-style: italic;
}

.subheading-highlight {
  font-weight: bold;
}

.cta-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  padding: 20px 0;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
}

.cta-text {
  font-size: 20px;
  font-weight: lighter;
  font-style: italic;
}

.cta-button {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  text-decoration: none;
  color: #B1ADAD;
  position: relative;
  padding-bottom: 4px;
  display: inline-block;
}

.cta-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 120%;
  height: 2px;
  background: #B1ADAD;
}

.cta-button::before {
  content: "";
  position: absolute;
  right: -25px;
  bottom: 0;
  font-size: 18px;
  color: #B1ADAD;
}


.model-x-banner {
  width: 100%;
  height: 90vh;
  background: url("/public/images/Model-X-Banner.avif") no-repeat center center/cover;
}

.model-x-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 30px 0;
}

.model-x-container button {
  width: 200px;
  border-radius: 3px;
  margin-right: 5px;
}

.model-3-banner {
  width: 100%;
  height: 90vh;
  background: url("/public/images/Model-3-banner.avif") no-repeat center center/cover;
}

.footer-wrap {
  padding: 20px 40px;
  margin: 0;
}

.footer-container {
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-logo img {
  display: block;
  max-width: 100px;
  height: auto;
}

.footer-text {
  width: 70%;
  text-align: left;
  font-size: 17px;
  line-height: 1.5;
  color: #727272;
  font-weight: lighter;
  font-style: italic;
}

.footer-links {
  text-decoration: none;
  color: #706F6F;
  font-style: italic;
  font-weight: 600;
}

/* Vehicle List  Styles */
.product-listing {
  height: 100vh;
  padding: 20px;
}

.search-input {
  width: 25%;
  max-width: 300px;
}



.product-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.product-info {
  text-align: center;
}

.product-model {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.learn-more-wrap {
  display: flex;
  justify-content: space-around;
}

.learn-more {
  color: #2e2e2e;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.no-data-message {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #777;
  margin-top: 20px;
}


/* -----Car Details Page Style------- */
.car-details-container {
  padding: 20px 20px 0 20px;
}

.car-image img {
  width: 100%;
}

.car-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.features-container {
  display: flex;
  justify-content: space-between;
}

.features-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.features {
  border: 1px solid #ccc;
  padding: 10px 15px;
  color: #333
}

.feature-item {
  text-align: center;
  font-size: 20px;
  color: #393C41;
}

.feature-name {
  font-size: 14px;
  color: #393C41;

}

.color-heading {
  color: #5C5E62;
  font-size: 14px;
  text-align: center;
}

.color-selector {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: transform 0.2s, border-color 0.2s;
}

.color-circle:hover {
  transform: scale(1.1);
}

.color-circle.selected {
  border-color: #000;
}

.order-button-wrap {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  padding: 10px;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.order-button {
  color: #FFFFFF;
  background-color: #3E6AE1 !important;
}

.car-description {
  text-decoration: underline;
  cursor: pointer;
  color: #39314C;
}

.lease-purchase {
  color: #5C5E62;
  text-align: center;
}

/* Responsive Design */

@media (max-width: 480px) {

  /* .feature-item {
    flex: 1 1 100%;
  } */
  .banner-container {
    width: 100%;
    height: 70vh;
  }

  .banner-background {
    background-position: center;
  }

  .banner-heading {
    font-size: 2rem;
    font-weight: bold;
  }

  .banner-buttons {
    justify-content: center;
    margin-bottom: 40px;
    margin-right: 0;

  }

  .heading {
    text-align: center;
  }

  .subheading {
    text-align: center;
    padding: 0 30px;

  }

  .cta-container {
    display: none;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-text {
    text-align: center;

  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .banner-container {
    width: 100%;
    height: 70vh;
  }

  .banner-background {
    background-position: center;
  }

  .banner-heading {
    font-size: 2rem;
    font-weight: bold;
  }

  .cta-container {
    display: none;
  }

  .heading {
    text-align: center;
  }

  .subheading {
    text-align: center;
    padding: 0 30px;

  }

  .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-input {
    width: 50%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Styles for small desktops or large tablets */
}

@media (min-width: 1025px) and (max-width: 1440px) {
  /* Styles for desktops and large screens */
}

